*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

html{
    width: auto;
}
.burger{
    height: 24px;
    width: 24px;
}
.main-img{
    width: 691px;
    height: 453.88px;
}
.description {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.sub-heading{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    color: #353A3D;
}
.headers{
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    align-items: center;
    color: #FC8701;
    letter-spacing: -5px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.main-btn {
    width: 194px;
    height: 52px;
    border: none;
    background: #2E4D5F;
    color: white;
    border-radius: 2px;
}
.sub-main-btn {
    width: 197px;
    height: 52px;
    border: 1px solid #FC8701;
    color:#FC8701; ;
    background: white;
}
.favorites {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.coverfeet-img-wrapper p{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #02986A;
    height: 124px;
}
.image-wrapper{
    padding-left: 10px;
}


 
.office, .sponsors , .sponsors, .dont-miss-wrapper, .email-us{
    margin-top: 100px;
    margin-bottom: 100px;
}
.office h3{
    font-weight: bold;
    font-size: 50px;
    color: #16459D;
    letter-spacing: -3px;
}
.office-heading{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 28px;
}
.office-images{
    padding-bottom: 28px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.office-sizes{
    width: 361px;
    height: 256px;
}
.favorites{
    margin-top: 100px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.favorites-wrapper{
    width: 223px;
    color: #7C7C7C;
    letter-spacing: -0.05em;
}
.favorites-wrapper h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: #16459D;
}
.sponsors-logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sponsors{
    border-width: 1px 0px;
    border-style: solid;
    border-color: #FC8701;
    
}
.developers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
 .developers-wrappers h2 p{
    text-align: center;
}
.developers-wrappers-heading h2{
    font-weight: bolder;
    font-size: 70px;
    color: #2E4D5F;
    letter-spacing: -5px;
    text-align: center
}
.developers-wrappers{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.sub-text{
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: -0.05em;
    color: #353A3D;
    text-align: center;
}
.dimg{
    width: 489px;
    height: 400px;
    
}
.developers-details{
    padding-left: 80px;
}
.developers-details h3{
    font-weight: bolder;
    font-size: 48px;
    align-items: center;
    color: #2E4D5F;
    letter-spacing: -5px;
}
.developers-details p{
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: -0.05em;
    color: #FC8701;
    padding-top: 10px;
}
.profile-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    margin-bottom: 30px;
}

.email-form h3{
    letter-spacing: -5px;
    font-style: normal;
    font-weight: bolder;
    font-size: 70px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #FC8701;
}
.form{
    height: auto;
    padding: 10px;
}
.form-input{
    height: 71px;
}
.form-btn{
    background: #2E4D5F;
    border-radius: 0px 5px 5px 0px;
    color: white;
    border: none;
    height: 71px;
}
.footer{
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 10px;
}
.footer-img {
    width: 108px;
    height: 67px;
}
.footer p{
    font-weight: 300;
    font-size: 12px;
    letter-spacing: -0.05em;
    color: #353A3D;
    margin-bottom: 0px;
}
.footer-social {
    width: 40px;
    height: 40px;
}
.footer-socials{
    width: 47px;
    height: 40px;
}
.profile-icons-footer{
    display: flex;
    justify-content: space-around;
    width: 250px;
}
.dont-miss-wrapper {
    width: 100vh;
}
.hide{
    display: none;
}
.upper-image{
    padding-top: 150px;
}
.mid h2{
    font-weight: bolder;
    font-size: 55px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #FC8701;
    letter-spacing: -5px;
}
.dont-miss{
    border-bottom: 1px solid #FC8701 ;
    border-top: 1px solid #FC8701 ;
    margin-top: 100px;
}


@media all and (max-width: 500px){
    .coverfeet-img-wrapper p{
        font-size: 22px;
    }
    .office-heading{
        font-size: 24px;
        text-align: center;
        line-height: 30px;
    }
    .office-text{
        font-size: 22px;
    }
    .office, .sponsors , .sponsors, .dont-miss-wrapper, .email-us{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .favorites{
        margin-top: 100px;
        flex-wrap: wrap;
        display: flex;
        text-align: center;
    }
    .developers-wrappers-heading h2{
        font-weight: bolder;
        font-size: 50px;
        color: #2E4D5F;
        letter-spacing: -5px;
        text-align: center
    }
    .sub-text{
        font-size: 22px;
    }
    .developers-details h3{
        font-weight: bolder;
        font-size: 40px;
        align-items: center;
        color: #2E4D5F;
        letter-spacing: -5px;
        text-align: center;
    }
    .developers-details p{
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.05em;
        color: #FC8701;
        padding-top: 10px;
        text-align: center;
    }
    .pro-icons{
        width: 42px;
        height: 40px;
    }
    .profile-icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        margin-bottom: 30px;
    }
    .developers-wrappers{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        width: 100%;
    }
    .main-btn, .sub-main-btn{
        width: 100%;
    }
    .email-form h3{
        letter-spacing: -2px;
        font-style: normal;
        font-weight: bolder;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        color: #FC8701;
    }
    .sub-heading{
        text-align: center;
        font-size: 22px;
    }
    .form-input{
        height: 50px;
        margin-bottom: 10px;
    }
    .form-btn{
        background: #2E4D5F;
        border-radius: 0px 5px 5px 0px;
        color: white;
        border: none;
        height: 50px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        margin-top: 20px;
        margin-bottom: 10px;
        height: 200px;
        border-top: 1px solid #FC8701 ;
    }
    .hide{
        display: block;
    }
    .block,.image-wrapper-dont,.shoes-inline{
        display: none;
    }
    .nav-logo{
        width: 70px;
    }
    .dont-miss{
        padding-bottom: 20px;
    }
    .upper-image{
        padding-top: 10px;
    }
    
}


