.shoe-arrivals{
    height: 100vh;
    width: 100%;
}
.arrivals-wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.content{
    height: 100vh;
    padding-top: 50px;
}
.heading-shoe {
    font-weight: bolder;
    font-size: 40px;
    line-height: 40px;
    color: #FC8701;
    letter-spacing: -3px;
    text-transform: uppercase;
}
.bgimage{
    background-image: url("../pages/images/Group\ 14\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.description-slider{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.05em;
    color: #353A3D;
}
.description-slider-version{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.05em;
    color: #353A3D;
    opacity: 70%;
}
.price {
    font-weight: bolder;
    font-size: 30px;
    line-height: 30px;
    color: #FC8701;
    letter-spacing: -3px;
    text-transform: uppercase;
}
.heading-features {
    font-weight: bolder;
    font-size: 20px;
    line-height: 20px;
    color: #353A3D;
    letter-spacing: -1px;
}
.arrowbtn-l{
    margin-left: 120px;
    padding-top: 500px;
}
.arrowbtn-r{
    margin-right: 165px;
    padding-top: 500px;
}
.card-item{
    width: 280px;
    height: 200px;
    border: 1px solid #FC8701;
    border-radius: 5px;
    padding: 10px;
}
.collection-wrapper{
    width: auto;
}
.modal-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.3)
}
.modal-content-wrapper{
    width: 500px;
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    border: solid 1px #FC8701;
}
.modal-type{
    position: fixed;
    z-index: 5;
    width: 100%;
    visibility: hidden;
   
}
.open{
   visibility: visible;
}
.collection-wrapper a{
    text-decoration: none;
    color: #2E4D5F;
    font-weight: bold;
    font-size: 18px;
}


@media (max-width: 395px) {
    .arrivals-wrapper{
        height: 90vh;
    }
    .shoe-name, .shoe-features{
        display: none;
    }
    .shoe-arrivals{
        height: 100vh;
    }
    .btn-carousel{
        visibility: hidden;
    }
}
@media (max-width: 850px) {
    .shoe-name, .shoe-features{
        display: none;
    }
    
    .btn-carousel{
        visibility: hidden;
    }


}
@media (max-width: 850px) {
    .shoe-name, .shoe-features{
        display: none;
    }
   

}
@media (max-width: 1000px) {
    .heading-shoe{
        font-size: 24px;
        line-height: 24px;
    }
    .description-slider{
        font-size: 16px;
        line-height: 16px;
    }
    .price{
        font-size: 24px;
    }
    .main-btn {
        width: 150px;
        
        border: none;
        background: #2E4D5F;
        color: white;
        border-radius: 2px;
    }
    .heading-features{
        font-size: 16px;
    }
    .description-slider-version{
        font-size: 12px;
        line-height: 12px;
    }
}

